* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-tooltip-lite {
  background: rgba(255, 255, 255, 0.17);
  color: white;
  border-radius: 8px;
  transform: translateY(-0.35rem);
}

.inner-loading {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .inner-loading {
  min-height: 70vh;
}

.rotate-on-hover,
.rotate-on-hover svg,
.translate-right-on-hover,
.translate-right-on-hover svg,
.translate-top-on-hover,
.enlighten-on-hover,
.enlighten-on-hover svg {
  transition: all 0.4s ease;
}

.translate-right-on-hover:hover,
.translate-right-on-hover:hover svg {
  transform: translateX(0.3rem);
}

.translate-top-on-hover:hover {
  transform: translateY(-0.3rem);
}

.rotate-on-hover:hover,
.rotate-on-hover:hover svg {
  transform: rotate(90deg);
}

.enlighten-on-hover:hover,
.enlighten-on-hover:hover svg,
.enlighten-on-hover.active svg {
  filter: brightness(1) !important;
}

.swal2-popup {
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.22), 0 19px 38px rgba(0, 0, 0, 0.3);
  border-radius: 20px !important;
  background: #191818 !important;
  padding: 3rem !important;
}

.swal2-container.swal2-backdrop-show {
  background: transparent !important;
}

.swal2-icon {
  color: #fff !important;
  border-color: #fff !important;
}

.swal2-title {
  color: #ffffff !important;
}

#swal2-content {
  color: #868686;
}

.swal2-actions {
  margin-top: 3rem !important;
}

.swal2-confirm {
  background: #868686 !important;
  border-radius: 50px !important;
  height: 64px;
  font-weight: 800 !important;
  transition: all 0.4s ease;
}
.swal2-confirm:hover {
  filter: brightness(1.2);
}
.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-cancel {
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::placeholder {
  color: #fff;
}
